# Core web & API
fastapi==0.116.1
uvicorn==0.35.0
Flask==3.1.1

# Gradio UI
gradio==5.38.2
gradio_client==1.11.0

# TTS
edge-tts==7.0.2
gTTS==2.5.4

# Audio processing
ffmpy==0.6.1

# OCR (nếu dùng pytesseract)
pytesseract==0.3.13
pillow==11.3.0

# Anki integration
requests==2.32.4

# Lint & test (dev)
flake8==7.3.0
pytest==8.4.1
pytest-asyncio
anyio==3.6.2
pytest-tornasync
pytest-trio